[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
pyinputplus = "*"
typing = "*"

[dev-packages]
pytest = "*"
rope = "*"
flaky = "*"
project-initalizer = {editable = true, path = "."}

[requires]
python_version = "3.9"
